.main{
    text-align: center;
    padding-top: 4em;
    padding-bottom: 7em;
    height: auto;
    background-color: #eb6234;
}

#row{
    padding-top: 10%;
}

@media only screen and (max-width: 820px){
    #row {
        padding-top: 20%;
    }
}